@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: #191718;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@theme {
    --breakpoint-xl: 75rem;
    --breakpoint-2xl: 87.5rem;
    --breakpoint-3xl: 100rem;
    --color-shadow-lilac: oklch(0.5 0.29 275);
    --color-sun-yellow: oklch(0.85 0.22 95);
    --color-sunset-orange: oklch(0.7 0.23 58);
    --color-vivid-pink: oklch(0.63 0.27 22);
    --color-electric-purple: oklch(0.53 0.22 306);
}

/* Gradients */
@layer theme {
    .multi-gradient {
        @apply dark:bg-center dark:bg-contain dark:bg-linear-[45deg,var(--color-sun-yellow)_0%,var(--color-sunset-orange)_33%,var(--color-vivid-pink)_66%,var(--color-electric-purple)_100%];
    }
}

@keyframes fadeBlur {
    0% {
        filter: blur(10px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@layer base {
    .card-base-temp {
        opacity: 0;
        transform: scale(0.8);
        filter: blur(5px);
        transition: opacity 1.5s cubic-bezier(0.87, 0.14, 0.22, 0.9), transform 1.5s cubic-bezier(0.87, 0.14, 0.22, 0.9), filter 1.5s cubic-bezier(0.87, 0.14, 0.22, 0.9);
    }

    .card-animate-temp {
        opacity: 1;
        transform: scale(1);
        filter: blur(0px);
    }

    .decoration-none {
        text-decoration: none;
    }
}
